<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入属性文件-->
    <properties resource="mysql.properties"></properties>

    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <!--    给实体类起别名-->
    <typeAliases>
        <!-- <typeAlias type="com.yh.model.Customer" alias="Customer"/>-->
        <!--将当前的包下的类名，都设置了别名，别名是：当前类的名字-->
        <!--  <package name="com.yh.model"/>-->
        <package name="com.yh.model"/>
    </typeAliases>

    <plugins>
        <!--        分页拦截器-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--           分页合理化参数，默认值为false。当该参数设置为 true 时，pageNum<=0 时会查询第一页，
                            pageNum>pages（超过总数时），会查询最后一页。默认false 时，直接根据参数进行查询。 -->
            <property name="reasonable" value="true"/>
            <!--            支持接口传参-->
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>
    <!--  环境配置  -->
    <environments default="development">
        <environment id="development">
            <!--事务管理器JDBC-->
            <transactionManager type="JDBC"/>
            <!--连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--记载映射文件-->
    <mappers>
        <!-- 加载指定的src目录下的映射文件-->
        <!--<mapper resource="com/yh/mapper/CustomerMapper.xml"/>-->

        <!-- 加载指定接口的全限定名-->
        <!--<mapper class="com.yh.mapper.CustomerMapper"/>-->

        <!--加载并扫描指定包下所有的接口-->
        <!--<package name="com.yh.mapper"/>-->

        <package name="com.yh.mapper"/>
    </mappers>
</configuration>